
.section {
  border: none;

  .container {
    border: 1px solid #ee8584;
    background: white;

    &::before {
      content: '';
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      border: 1px solid #ee8584;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }

    // ::before {
    //   content: '';
    //   position: absolute;
    //   left: -10px;
    //   top: -1px;
    //   border: 1px solid pink;
    //   width: calc(100% + 2px);
    //   height: calc(100% + 2px);
    //   animation: steam 30s linear infinite;
    // }
  }

  .event-title {
    // font-family: 'Marmelad', sans-serif;
    font-family: 'Quicksand', sans-serif;
  }
}

// .section {
// 	position: relative;
// }

// .section:before, .section:after {
// 	content: '';
// 	position: absolute;
// 	left: -2px;
// 	top: -2px;
// 	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
// 		#0000ff, #00ff00,#ffff00, #ff0000);
//   // background: linear-gradient(45deg, #fb0094,#ffff00, #ff0000, #fbcd00, #ffbf00,#ff0000, #ffff00);
// 	background-size: 400%;
// 	width: calc(100% + 4px);
// 	height: calc(100% + 4px);
// 	z-index: -1;
// 	animation: steam 30s linear infinite;
// }

// @keyframes steam {
// 	0% {
// 		background-position: 0 0;
// 	}
// 	50% {
// 		background-position: 400% 0;
// 	}
// 	100% {
// 		background-position: 0 0;
// 	}
// }

// .section:after {
// 	filter: blur(50px);
//   opacity: 0.3;
// }
